#satauri{
    text-align: center;
    font-size: 40px;

}
#p2{
    color: rgba(255, 128, 0, 1);
    width: 700px;
    margin-left: 450px;
    
}
#p1{
    color: rgba(217, 174, 0, 1);
    margin-left: 50px;
    
}
#p3{
    margin-left: 50px;
    width: 500px;
    color: rgba(109, 129, 180, 1);
}
#image2{
    width: 500px;
    margin-left: 50px;
}
#satauri22{
    margin-left: 180px;
    color: rgba(244, 78, 80, 1);
    

}
#p4{
    width: 500px;
    color: rgba(139, 43, 44, 1);
    margin-left: 100px;
    text-align: center;
}

#img3{
    width: 600px;
    height: 300px;
    margin-left: 50px;
}

#div3{
    padding: 10px;
    background-color: rgba(255, 206, 190, 1);
    border: 3px solid rgba(0, 0, 0, 1);
    width: 700px;
    margin-left: 50px;
    height: 470px;
    margin-top: 50px;

}



#p5{
    color: rgba(71, 22, 228, 1);
    margin-left: 335px;
    margin-top: 70px;
}
#p6{
    width: 400px;
    text-align: center;
    margin-left: 50px;
    background-color: rgba(255, 193, 227, 1);
    padding: 40px;
    border: 2px solid rgba(255, 93, 163, 1);
}
#h22{
    color: rgba(65, 70, 81, 1);
    font-size: 20px;
    margin-left: 50px;
}
#id1{
    width: 500px;
    margin-left: 50px;
    color: rgba(194, 117, 18, 1);
    

}
#id2{
    width: 500px;
    margin-left: 50px;
    color: rgba(194, 117, 18, 1);

}
#id3{
    width: 500px;
    margin-left: 50px;
    color: rgba(194, 117, 18, 1);

}
#id4{
    width: 500px;
    margin-left: 50px;
}